//отключение нотификации после обновления страницы
#__bs_notify__ {
	display: none !important;
}

// основные стили

.title {
	@include h2;
	color: $color-text-main;
}

.subtitle {
	@include h3
}

.bold {
	font-weight: bold;
}

.primary {
	color: $color-primary;
}

.logo {
	@include hover-opacity;
}

.protection {
	font-size: $size-xxs;
}
// menu styled start

.menu {
	@include flex($justify: end);
	height: 100%;
	width: 250px;

	&__list {
		width: 100%;
		height: 100%;
		@include flex();
		list-style: none;
	
		&-link {
			@include link();
		}
	
		&-item {
			@include font();
		}
	}
}

.social-menu {

	&__list {

		&__link {
			@include hover-opacity;
			
			&:hover {
				transform: translateY(-5px);
			}
			
		}
	}
}

// burger styles start 

.burger {
	@include flex($direction: column, );

	width: 40px;
	height: 30px;
	position: relative;
	
	&__line {
		width: 100%;
		background: $color-text-main;
		height: 2px;
		border: 2px solid $color-text-main;
		border-radius: 20px;

	}
}
// burger styles end


// menu styled end

// circle styles start

@keyframes pulce {
	from {
		transform: scale(1.0);
	}

	50% {
		transform: scale(1.6);
	}

	to {
		transform: scale(1.0);
	}
}

.circles {
	position: absolute;
	top: -350px;
	right: -680px;
	width: 1380px;
	height: 1380px;
	z-index: -999;
	.circle {
		border-radius: 50%;
		@include flex($justify: center);
		animation: pulce 0.5s ease-in-out 0 infinite ;
		

		&-first {
			width: 100%;
			height: 100%;
			background: rgba(255, 239, 191, 1);
		}
		&-second {
			
			width: 1200px;
			height: 1200px;
			background: rgba(252, 200, 39, 1);
		}

		&-third {
			width: 1040px;
			height:  1040px;

			background: rgba(255, 156, 55, 0.7);
		}
	}

	

	

}
// circle styles end

// header styled start
.header {

	width: 100%;
	// position: absolute;
	// top: 0;
	// right: 0;
	// left: 0;
	
	padding-top: 50px ;
	&__content {
		width: 100%;
		@include flex ();
		height: 64px;
		
	}

	&-burger {
		display: none;
	}

	&__connect-button {
		@include button-primary($width: 240px, $height: 64px, $bg-color: $color-bg, $text-color: $color-primary);

		box-shadow: $shadow;
	}


}

// header styled end



// intro styles start 
.intro {
	width: 100%;
	height: 698px;
	padding-bottom: 136px;
	min-height: 60vh;

	margin-top: 114px;
	// background: url(../img/content/phones.png) no-repeat right -10% top 100%;

	&__content {
		position: relative;
		@include flex();
		height: 100%;
		width: 100%;
		
		&-container {
			@include flex($direction: column, $align: start, $gap: 85px);
			height: auto;
			width: 60%;
		}
	}
	
	&__img {
		position: absolute;
		top: -20%;
		right: -35%;
		@include flex($justify: center);
		width: 30%;
		height: 150%;
		width: 100%;
	}

	#intro-img {
		width: 100%;
		height: 100%;
	}

	&__info {
		@include flex($direction: column, $align: start, $gap: 50px);
		height: auto;
		

		&__buttons {
			@include flex($gap: 16px);
			height: 64px;
		}

	

	}

	
	&__button_demo {
		@include button-outline();
		padding: 20px 40px;
		height: 100%;
		width: auto;
	}
	&__button_connect {
		@include button-primary();
		height: 100%;
		
	}

	&__title {
		color: $color-text-main;

	}
	&__subtitle {
		color: $color-text-main;
	}
	
	&__desc {
		@include text;	
		width: 540px;

		
	}
}

// intro styled end

// benefits styled start

.benefits {

	width: 100%;
	margin-bottom: 80px;
	&__content {
		@include flex($direction: column, $gap: 50px);
		width: 100%;
		height: auto;
	}

	&__title {
		
		color: $color-text-main;
		&_primary {
			color: $color-primary;
		}
	}

	&__cards {
		width: 100%;
		height: 100%;
		@include grid($columns: repeat(3, 1fr), $rows: 1fr, $gap: 38px)
	}

	&__card {
		@include flex($direction: column, $gap: 24px, $justify: start);


		&-ico {

			&-container {
				@include flex($justify: center);
				border: 2px dashed $color-primary;
				border-radius: 50%;
				width: 120px;
				height: 120px;
			}
			
		}

		&-title {
			@include h5;
			font-weight: 600;
			color: $color-text-main;
			text-align: center;
		}

		&-desc {
			@include small-text;
			text-align: center;
		}
	}
}

// benefits styled end


// demo styled start

.demo {
	width: 100%;
	height: auto;
	margin-bottom: 80px;

	&__content {
		@include flex($gap: 136px);
		padding: 50px 0;
		width: 100%;
		
	}

	&__desc {
		max-width: 400px;
		text-align: center;
	}
	
	&__img {
		@include flex($align: end, $justify: center);
		width: 50%;
		border-radius: 32px;
		background: lighten($color-primary, 35%);
	}

	&__info {
		@include flex($direction: column, $gap: 37px);
		height: auto;
		width: 50%;

		&__titles {
			@include flex($direction: column, $gap: 15px);
			height: auto;
		}

		&__buttons {
			@include flex($gap: 16px);
			
		}

	

	}

	
	&__button_demo {
		@include button-primary();
		height: 64px;
		width: 147px;
	}
	&__button_connect {
		@include button-outline();
		height: 64px;
		width: 215px;
	}

	&__title {
		color: $color-text-main;
		text-align: center;
		width: 455px;
	}
	&__subtitle {
		color: $color-text-main;
	}
	
	&__desc {
		@include text;	
		text-align: center;
		width: 378px;
	}
}

// demo styled end



//prices styled start

.prices {
	width: 100%;
	height: auto;
	margin-bottom: 80px;

	&__content {
		@include flex($direction: column, $gap: 48px);
		max-width: 900px;
		margin: 0 auto;
		
	}
	

	&__titles {
		@include flex($direction: column, $gap: 12px);
		width: 100%;
	}

	&__title {
		text-align: center;
	}

	&__subtitle {
		@include text;
		text-align: center;
		width: 455px;
	}

	&-tabs {

		&__header {
			@include flex;
			width: 100%;
			
		}

		&__container-title {

			@include flex($justify: center, $gap: 16px);
			color: $color-text-main;
			padding: 16px 0;
			width: 50%;
			border-bottom: 2px solid $color-text-third;
			cursor: pointer;
			transition: $transition-main;

			&.active-tab {
				border-color: $color-primary;
			}
			&:hover {
				border-color: $color-primary;
			}
		}

		&__title {
			@include h5;
			text-align: center;
			
		}

		&__container-main {
			@include grid ($columns: 1fr, $rows: 1fr);

		}
		&__main {
			@include flex($align: stretch);
			grid-area: 1 / 1 / 2 / 2;
			width: 100%;
			overflow: hidden;
			border-radius: 20px;
			box-shadow: $shadow;
			opacity: 0;
			transition: $transition-main;
			&.active-tab {
				opacity: 1;
			}
		}

		&__plan {
			width: 60%;
			padding: 64px;
			@include flex($direction: column, $gap: 32px, $align: start);

			&__titles {
				@include flex($direction: column, $gap: 12px, $align: start, $justify: center);
				position: relative;
				padding-left: 92px;
			}

			&__title {
					@include h5;
					font-weight: 700;
					color: $color-text-main;
			}

			&__subtitle {
					font-weight: 400;

			}

			&-ico {
				
				position: absolute;
				top: 0;
				left: 0
			}
			&__desc {
				@include text;
				padding: 16px 0;
				width: 330px;
			}

			&__rate {
				
				font-size: $size-xxl;
				color: $color-text-main;

				&_small {
					@include h5;
					font-weight: 600;
					color: $color-text-second;
				}
			}
			&__button {
				@include button-outline;
				width: 100%;
				height: 64px;
			}
		}

		&__benefits {
			padding: 80px 48px;
			width: 50%;
			@include flex($direction: column, $gap: 32px, $align: start, $justify: start);
			background: $color-bg-second;

			&__title {
				@include h5;
				font-weight: 700;
				color: $color-text-main;
			}

			&__list {
				@include flex($direction: column, $gap: 16px, $align: start);
				list-style: none;

				&__ico {
					min-height: 30px;
					min-width: 30px;
				}


				&__item {
					@include flex($gap: 11px);
					@include small-text;
					color: $color-text-main;
					font-weight: 600;
					

					
				}
			}
		}
	}


	
}

// prices styled end



// questions styled start

.questions {
	width: 100%;
	height: auto;
	margin-bottom: 80px;
	
	&__content {
		height: 100%;
		width: 100%;
		border-radius: 20px;
	}
	
	&__title {
		color: $color-text-main;
		text-align: center;
		margin-bottom: 50px;
	}

	
	&__cards {
		max-width: 900px;
		margin: 0 auto;
		height: auto;
		@include flex($direction: column, $gap: 24px, $align: stretch)
	}

	&__card {
		
		border: 1px solid $color-primary;
		border-radius: 20px;
		transition: $transition-main;

		&-header {
			@include flex($align: start, $gap: 20px);
			padding: 36px 48px 36px 48px;
			cursor: pointer;
		}

		&-ico {
			
			min-width: 30px;
			@include hover-opacity
		}
		&-title {
			@include text;
			color: $color-text-main;
			font-weight: 600;
			line-height: 30px;
		}

		&-answer {
			@include small-text;
			padding: 0 48px;
			height: 0;
			overflow: hidden;
			transition: all 0.5s ease-in-out;
			&.active-accordion {
				
				margin-bottom: 36px;
			}
		}

		&:hover {
			border-color: $color-text-second;
		}
	}

	&__list {
		@include flex($direction: column, $gap: 30px);
		list-style: disc;
		list-style-position: inside;

		&-item {
			
		}
	}
}

// questions styled end



// consultation styled start

.consultation {
	width: 100%;
	height: auto;
	margin-bottom: 80px;
	
	&__content {
		@include flex();
		height: 100%;
		width: 100%;
		border-radius: 20px;
		overflow: hidden;
		box-shadow: $shadow;
	}
	
	&__title {
		color: $color-text-main;
	}

	
	&__desc {
		@include text;	
	}
	

	&__info {
		@include flex($direction: column, $justify: center, $gap: 24px);
		height: 100%;
		width: 53%;
		padding: 0 64px;
		&__text {
			@include flex($direction: column, $align: center)
		}

		&__buttons {
			@include flex($gap: 16px);
			
		}

	}

	&__container-form {
		height: 100%;
		width: 50%;
		padding: 64px;
		background-color: $color-bg-second;
	}

	&__form {
		@include flex($direction: column, $align: start, $gap: 28px);
		padding: 48px 40px;
		border-radius: 25px;
		box-shadow: $shadow;
		background: $color-bg;
		width: 100%;
		height: 100%;

		&-title {

			color: $color-text-main;
		}

		&-input {
			@include input;
			width: 100%;
			height: 68px;
		}
		&-textarea {
			@include input;
			width: 100%;
			height: 132px;
			resize: none;
		}


		&-button {
			@include button-primary;
			width: 100%;
			height: 68px;
			
		}
	}

	
}

// consultation styled end


// about styled start

.about {
	width: 100%;
	height: auto;
	margin-bottom: 220px;

	&__content {
		@include flex();
		width: 100%;
		
	}
	
	&__img {
		@include flex($justify: end);
		width: 60%;
		overflow: hidden;
	}

	&__info {
		@include flex($direction: column, $align: start, $gap: 24px);
		height: auto;
		width: 40%;


		
	}

	&__title {
		color: $color-text-main;
	}
	
	&__desc {
		@include text;

		
	}

	&__link {
		color: $color-primary;
		line-height: 34px;	
		position: relative;
		padding-right: 20px;
		transition: $transition-main;

		&::after {
			content: '';
			width: 8px;
			height: 8px;
			border: 2px solid $color-primary;
			border-left: none;
			border-bottom: none;
			transform: rotate(45deg) translateY(-50%);
			position: absolute;
			top: 47%;
			right: 0;
		}

		&:hover {
			padding-right: 35px;
		}
	}
}

// about styled end

// footer styles start

.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 20px;
	padding-top: 40px;
	&__content {
		width: 100%;
		@include flex ();
		height: 90px;
		
		padding: 16px 10px;
	}

	&__social-menu {
		width: 150px;

		
	}

	&-container {
		@include flex($direction: column, $gap: 20px)
	}

	
	&-menu {
		width: 200px;

		&__list__item {
			font-size: $size-xs;
		}
	}
}

// footer styles end




// MEDIA QUERIES START


@include media-max-l {

// header styled start

	.header {
		

		// &__content {
		// 	margin: 0;
		// }
		


	}


// header styled end





	// intro styles start 
		
		.intro {


		}
		
		// intro styled end
		
		
		
		
		
		// benefits styled start
		
		.benefits {

			
		}
		
		// benefits styled end
		
		
		
		
		
		// demo styled start
		
		.demo {

			&__content {

				
			}
		}
		
		// demo styled end
		
		
		
		
		
		//prices styled start
		
		.prices {

			
		}
		
		// prices styled end
		
		
		
		
		
		// questions styled start
		
		.questions {

			
		}
		
		// questions styled end
		
		
		
		
		
		// consultation styled start
		
		.consultation {

			&__content {


			}
			
			&__info {
				padding: 30px;
				width: 45%;
			}
			&__container-form {
				padding: 30px;
				width: 55%;
			}
		}
		
		// consultation styled end
		
		
		
		
		
		// about styled start
		
		.about {

			&__content {
				flex-direction: column;
				gap: 40px;
			}

			&__info {
				width: 100%;
			}

			&__img {
				width: 100%;
				border-radius: 32px;
				background: lighten($color-primary, 36%);
				
			}
		}
		
		// about styled end
		
		
		
		
		
		// footer styles start
		
		
		.footer {

			
		}
		// footer styles end
		}



@include media-max-m {


	
	// header styled start
	
	.header {

		&__connect-button {
			display: none;
		}
	}
	
	
	// header styled end
	
	
	
	
	
	// intro styles start 
		
	.intro {

		height: 80vh;

			&__content {
				height: 100%;
			}
			&__content-container {
				width: 100%;
				align-items: center;
				// gap: 20px;
			}

			&__info {
				align-items: center;
				gap: 40px;

			}	

			&__title {
				text-align: center;
				width: 80%;
			}
			&__desc {
				text-align: center;
			}

			&__img {
				display: none;
				
			}

			
		
	}
		
	// intro styled end
		
		
		
		
		
		// benefits styled start
		
		.benefits {

			
		}
		
		// benefits styled end
		
		
		
		
		
		// demo styled start
		
		.demo {

			&__content {
				gap: 40px;
				flex-direction: column;
			}

			&__img {
				width: 100%;
			}

			&__info {
				width: 80%;
			}

			&__title {

			}
			
		}
		
		// demo styled end
		
		
		
		
		
		//prices styled start
		
		.prices {

			&-tabs {

				&__main {
				}

				&__plan {
					padding: 40px 30px;
					width: 60%;
				}

				&__benefits {
					padding:  40px 30px;
					width: 40%;
				}
			}
		}
		
		// prices styled end
		
		
		
		
		
		// questions styled start
		
		.questions {

			
		}
		
		// questions styled end
		
		
		
		
		
		// consultation styled start
		
		.consultation {

			&__content {

				flex-direction: column;
			}
			
			&__info {
				padding: 50px 30px;
				width: 100%;
			}
			&__container-form {
				padding: 50px 30px;
				width: 100%;
			}
			
		}
		
		// consultation styled end
		
		
		
		
		
		// about styled start
		
		.about {

			
		}
		
		// about styled end
		
		
		
		
		
		// footer styles start
		
		
		.footer {

			
		}
		// footer styles end
		
	}



	@include media-max-s {

		.title {
			font-size: $size-l;
		}
		.subtitle {
			font-size: $size-m;
		}
	

		// header styled start
		
			.header {

				&-menu__list {
					display: none;
				}
				
				&-burger {
					display: flex;
				}
		
			}
		
		
		// header styled end
		
		
		
		
		
		// intro styles start 
		
		.intro {
			margin-top: 184px;
			height: 60vh;

			&__content {


				&-container {
					gap: 40px;
				}
			}

			&__title {
				width: 100%;
				text-align: left;
			}

			&__desc {
				text-align: left;
			}

			&__info {


				&__buttons {
					flex-direction: column;
					width: 100%;
					height: auto;


				}

				

				
			}

			&__button {
				height: 64px;
				width: 100%;
			}
			

			&__desc {
				width: auto;
			}
		}
		
		// intro styled end
		
		
		
		
		
		// benefits styled start
		
		.benefits {

			&__cards {
				grid-template-columns: repeat(1, 1fr);
				gap: 40px;
			}

			&__card {

				&-title {
					font-size: $size-l;
				}

				&-desc {
					width: 85%;
					font-size: $size-s;
				}
			}
			
		}
		
		// benefits styled end
		
		
		
		
		
		// demo styled start
		
		.demo {

			&__info {

				&__buttons {
					flex-direction: column;
					width: 100%;
				}

			}

			&__title {
				width: auto;
			}

			&__desc {
				width: auto;
			}
			

			&__button {
				
				width: 100%;
			}
			
		}
		
		// demo styled end
		
		
		
		
		
		//prices styled start
		
		.prices {

			&__subtitle {
				width: auto;
			}

			&__title {
				width: auto;
			}

			&-tabs {

				&__main {
					flex-direction: column;
				}

				&__plan {

					width: 100%;

					&__rate {
						font-size: $size-xl;
					}

					&__desc {

						width: auto;
					}
				}

				&__benefits {

					width: 100%;
				}
			}
		}
		
		// prices styled end
		
		
		
		
		
		// questions styled start
		
		.questions {

			
		}
		
		// questions styled end
		
		
		
		
		
		// consultation styled start
		
		.consultation {

			&__container-form {

				padding: 0;
				
			}

			&__form {
				border-radius: 0;
			}
		}
		
		// consultation styled end
		
		
		
		
		
		// about styled start
		
		.about {

			
		}
		
		// about styled end
		
		
		
		
		
		// footer styles start
		
		
		.footer {

			&-menu {
				display: none;
			}
			
		}
		// footer styles end
		}



// MEDIA QUERIES END

