//отключение нотификации после обновления страницы
#__bs_notify__ {
	display: none !important;
}

// основные стили

.title {
	@include h2;
	color: $color-text-main;
}

.subtitle {
	@include h3
}

.text {
	@include text
}

.small-text {
	@include small-text
}

.bold {
	font-weight: bold;
}

.primary {
	color: $color-primary;
}

.logo {
	@include hover-opacity;
	@include flex
}

.protection {
	font-size: $size-xxs;
}

.no-scroll {
	overflow: hidden;
}

.wow {
	visibility: hidden;

}

// call styles start

.call {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
    will-change: transform;

    &-content {
        margin-bottom: 16px;
        gap: 16px;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 100%;
        visibility: hidden;
        transition: transform 0.3s, visibility 0.3s;
        will-change: transform;

        a {
            will-change: transform;
            transition: transform 0.3s, visibility 0.3s;
            transform: scale(0);
        }

        span {
            display: block;
            transition: transform 0.2s;

            img {
                transform: scale(1) rotate(0) !important;
            }

            &:nth-child(1) {
                a {
                    transition-delay: 0.25s;
                }
            }

            &:nth-child(2) {
                a {
                    transition-delay: 0.2s;
                }
            }

            &:nth-child(3) {
                a {
                    transition-delay: 0.15s;
                }
            }

            &:nth-child(4) {
                a {
                    transition-delay: 0.1s;
                }
            }

            &:nth-child(5) {
                a {
                    transition-delay: 0.05s;
                }
            }
        }
    }

    &-main, &-content a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        min-height: 60px;
        border-radius: 50%;
        background-color: rgba(255, 156, 55);
        position: relative;
    }

    .call-main {
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.2);
        }
    }

    .call-open {
        display: flex;

        img {
            position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
            opacity: 0;
            -webkit-animation: opacity 9s infinite;

            &:nth-child(2) {
                -webkit-animation-delay: 1.5s;
            }

            &:nth-child(3) {
                -webkit-animation-delay: 3s;
            }

            &:nth-child(4) {
                -webkit-animation-delay: 4.5s;
            }

            &:nth-child(5) {
                -webkit-animation-delay: 6s;
            }

            &:nth-child(6) {
                -webkit-animation-delay: 7.5s;
            }

        }
    }

    .call-close {
        transition: transform 0.3s;
        position: absolute;
        top: 52%;
        left: 50%;
        transform: scale(0) translate(-50%, -50%);
        transform-origin: 0 0;
    }

    &.active {
        .call-main {
            transform: scale(1) !important;
        }

        .call-content {
            visibility: visible;

            a {
                transform: scale(1);
            }

            span {
                transition-delay: 0;

                &:hover {
                    transform: scale(1.2) rotate(10deg);
                }
            }
        }

        .call-open {
            transform: scale(0);
        }

        .call-close {
            transform: scale(1) translate(-50%, -50%);
        }
    }
}

@keyframes shake {
    0% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    8% {
        opacity: 1;
    }
    16% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

// call styles end



// menu styled start

.menu {
	@include flex($justify: end);
	height: 100%;
	width: 250px;
	
	&__list {
		width: 100%;
		height: 100%;
		@include flex();
		list-style: none;
		overflow: hidden;
	
		&-link {
			@include link();
		}
	
		&-item {
			@include text;
		}
	}
}

.social-menu {	
	width: auto;

	&__list {

		gap: 10px;
		&__link {
			@include hover-opacity;
			@include flex;
			&:hover {
				transform: scale(1.1);
			}
			
		}
	}
}

// burger styles start 

.burger {
	@include grid($columns: 1fr, $rows: 1fr);

	margin-left: 40px;
	width: 24px;
	height: 24px;
	position: relative;
	// &__line {
	// 	position: absolute;
	// 	width: 100%;
	// 	background: $color-text-main;
	// 	height: 2px;
	// 	border: 2px solid $color-text-main;
	// 	border-radius: 20px;
	// 	left: 0;
	// 	transition: transform 0.5s ease, top 0.2s ease 0.5s, opacity 0.5s ease, bottom 0.1s ease ;
	// 	&_first {
	// 		top: 0;
	// 	}
	// 	&_second {
	// 		top: 50%;
	// 	}
	// 	&_third {
	// 		top: 100%;
	// 	}
	// }
	svg {
		transition: all 0.5s;
		&:first-child, &:last-child {

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) ;

		}

		&:last-child {
			opacity: 0;
			transform: translate(-50%, -50%) scale(0);

		}

		
	}
	
	&.show {

		svg {
			
			&:last-child {
				transform: translate(-50%, -50%) scale(1);
				opacity: 1;
			}
			&:first-child {
				transform: translate(-50%, -50%) scale(0);
				opacity: 0;
			}
		}
	}


	// &:last-child {
	// 	opacity: 0;
	// }
}
// burger styles end



// menu styled end

// circle styles start

@keyframes pulce {
	from {
		transform: scale(1.0);
	}

	20% {
		transform: scale(1.02);
	}

	40% {
		transform: scale(0.99);
	}

	60% {
		transform: scale(1.01);
	}

	80% {
		transform: scale(0.98);
	}

	
	to {
		transform: scale(1.0);
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes scale {
	from {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	to {
		transform: scale(1);
	}
}



// @keyframes fadeInUp {
// 	from {
// 	  opacity: 0;
// 	  transform: translateY(100px)
// 	}
  
// 	to {
// 	  opacity: 1;
// 	  transform: translateY(0)
// 	}
//   }
  
//   .fadeInUp {
// 	visibility: hidden;
// 	animation: 1s fadeInUp;
//   }


.circles {
	position: absolute;
	top: -35%;
	right: -25%;
	width: 120vh;
	height: 120vh;
	z-index: -999;
	.circle {
		border-radius: 50%;
		@include flex($justify: center);
		
		
		

		&-first {
			width: 100%;
			height: 100%;
			background: rgba(255, 239, 191, 1);
			animation: pulce 9s infinite ;
			
		}
		&-second {
			
			width: 90%;
			height: 90%;
			background: rgba(252, 200, 39, 1);
			animation: pulce 13s infinite ;
		}

		&-third {
			width: 90%;
			height: 90%;

			background: rgba(255, 156, 55, 0.7);
			animation: pulce 11s infinite ;
		}
	}

	

	

}



.blur-circle {
	position: absolute;
	top: -50%;
	left: -10%;
	width: 646px;
	height: 646px;
	background: radial-gradient(34.64% 34.64% at 52.25% 62.44%, rgba(255, 156, 55, 0.3) 0%, rgba(255, 156, 55, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	z-index: -999;
	padding: 20px;
}
// circle styles end

// header styled start
.header {
	@include flex;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 50px 0 16px 0;
	transition: $transition-main;
	height: 70px;
	z-index: 999;
	&__content {
		width: 100%;
		@include flex ();
		
		
	}

	&-burger {
		display: none;
	}

	&__connect-button {
		@include flex($justify: center);
		@include button-primary($width: 240px, $height: 45px, $bg-color: $color-bg, $text-color: $color-primary);
		padding: 0;
		box-shadow: 0 2px 4px 0 #0000001a;
		border-color: transparent;
	}

	&__container {
		height: auto;
	}

	&.fixed {
		position: fixed;
		background: $color-bg;
		padding: 16px 0;
		box-shadow: 0 2px 4px 0 #0000001a;

		.header__connect-button {
			
			background: $color-primary;
			color: $color-bg;

			&:hover {
				background: $color-bg;
				color: $color-primary;
			}
		}
	}

	&-logo {
		

		&-img {
			height: 40px;
			width: 128px;
		}
	}

	&-menu {
		position: relative;
	}
}

// header styled end



// intro styles start 
.intro {
	width: 100%;
	height: 698px;
	padding-bottom: 136px;
	min-height: calc(100vh + 1px);
	max-width: 100vw;
    overflow: hidden;
	padding-top: 154px;
	position: relative;
	// background: url(../img/content/phones.png) no-repeat right -10% top 100%;

	&__content {
		position: relative;
		@include flex();
		height: 100%;
		width: 100%;
		
		&-container {
			@include flex($direction: column, $align: start, $gap: 85px);
			height: auto;
			width: 60%;
		}

		
	}
	
	&__img-container {
		position: absolute;
		top: 50%;
		right: -35%;
		@include flex($justify: center);
		width: 30%;
		transform: translateY(-50%);
		width: 100%;
		// transform: translateX(100vw);
		// visibility: hidden;
		transition: transform 1.4s cubic-bezier(0.34, 1.36, 0.64, 1) 2.2s;

		// &.show {
		// 	visibility: visible;
		// 	transform: translateX(0);
		// }
	}

	&__img {
		width: 100%;
		height: 100%;
		transform: transform 2s ease;
		will-change: transform;
	}

	&__info {
		@include flex($direction: column, $align: start, $gap: 50px);
		height: auto;
		

		&__buttons {
			@include flex($gap: 16px);
			height: 64px;
			opacity: 1;
			transition: opacity 0.3s linear 1.6s;
			
			
		}

	

	}

	
	&__button_demo {
		@include button-outline();
		padding: 20px 40px;
		height: 100%;
		width: auto;
	}
	&__button_connect {
		@include flex($justify: center);
		@include button-primary();
		height: 100%;
		
	}

	&__title {
		color: $color-text-main;
		

		
	}
	
	&__desc {
		@include text;	
		width: 540px;
		
		

		
	}

	// .intro__content.show {
		
	// 		.intro__title, .intro__desc, .intro__info__buttons {
	// 			opacity: 1;
	// 		}
			
	// 		.intro__img-container {
	// 			transform: translateX(0);
	// 		}
			
		
	// }
}

// intro styled end

// benefits styled start

.benefits {

	width: 100%;
	padding-bottom: 80px;
	position: relative;
	overflow: hidden;

	&-blur-circle {
		top: -150px;
	}
	&__content {
		@include flex($direction: column, $gap: 50px);
		width: 100%;
		height: auto;
	}

	&__title {
		
		color: $color-text-main;
		&_primary {
			color: $color-primary;
		}
	}

	&__cards {
		width: 100%;
		height: 100%;
		@include grid($columns: repeat(3, 1fr), $rows: 1fr, $gap: 44px)
	}

	&__card {
		@include flex($direction: column, $gap: 24px, $justify: start);

		
		&-ico {
			transition: $transition-slow;
			&-container {
				@include flex($justify: center);
				border: 2px dashed $color-primary;
				border-radius: 50%;
				width: 120px;
				height: 120px;
				transition: $transition-slow;
			}
			
		}

		&-title {
			@include h5;
			font-weight: 600;
			color: $color-text-main;
			text-align: center;
		}

		&-desc {
			
			text-align: center;
		}

		&:hover {


			
		}
	}
}

// benefits styled end


// demo styled start

.demo {
	width: 100%;
	height: auto;
	overflow: hidden;

	&__content {
		@include flex($gap: 136px);
		padding: 50px 0;
		width: 100%;
		
	}

	&__desc {
		max-width: 400px;
		text-align: center;
	}
	
	&__img-container {
		@include flex($align: end, $justify: center);
		width: 50%;
		border-radius: 32px;
		background: lighten($color-primary, 35%);

		
	}

	&__img {
		width: 532px;
			height: 478px;
	}

	&__info {
		@include flex($direction: column, $gap: 37px);
		height: auto;
		width: 50%;

		&__titles {
			@include flex($direction: column, $gap: 15px);
			height: auto;
		}

		&__buttons {
			@include flex($gap: 16px);
			
		}

	

	}

	
	&__button_demo {
		@include button-primary();
		height: 64px;
		width: 147px;
	}
	&__button_connect {
		@include flex($justify: center);
		@include button-outline();
		height: 64px;
		width: 215px;
	}

	&__title {
		color: $color-text-main;
		text-align: center;
		width: 455px;
	}
	&__subtitle {
		color: $color-text-main;
	}
	
	&__desc {
		@include text;	
		text-align: center;
		width: 378px;
	}
}

// demo styled end



//prices styled start

.prices {
	width: 100%;
	height: auto;
	padding-bottom: 80px;

	position: relative;
	overflow: hidden;
	&-blur-circle {
		&_first {
			top: 20%;
			left: -10%;
			z-index: -999;
		}
		
		&_second {
			left: 70%;
			top: -20%;
			width: 900px;
			height: 900px;
			z-index: -999;
	
		}
	}

	&__content {
		@include flex($direction: column, $gap: 48px);
		max-width: 900px;
		margin: 0 auto;
		
	}
	

	&__titles {
		@include flex($direction: column, $gap: 12px);
		width: 100%;
	}

	&__title {
		text-align: center;
	}

	&__subtitle {
		
		text-align: center;
		width: 455px;
	}

	&-tabs {

		&__header {
			@include flex;
			width: 100%;
			
		}

		&__container-title {

			@include flex($justify: center, $gap: 16px);
			color: $color-text-main;
			padding: 16px 0;
			width: 50%;
			border-bottom: 2px solid $color-text-third;
			cursor: pointer;
			transition: $transition-main;
			@include hover-opacity;
			&.active-tab {
				border-color: $color-primary;
			}
			&:hover {
				border-color: $color-primary;
				
			}
		}

		&__title {
			@include h5;
			text-align: center;
			
		}

		&__container-main {
			@include grid ($columns: 1fr, $rows: 1fr);
			overflow: hidden;
			box-shadow: $shadow;
			border-radius: 20px;
			
			
		}
		&__main {
			@include flex($align: stretch);
			grid-area: 1 / 1 / 2 / 2;
			width: 100%;
			overflow: hidden;
			
			
			opacity: 0;
			transition: transform 0.5s, opacity 0.5s, visibility 0.1s 0.5s;
			transform: translateY(20%);
			visibility: hidden;
			&.active-tab {
				transition: transform 0.5s 0.1s, opacity 0.5s 0.1s;
				opacity: 1;
				transform: translateY(0);
				visibility: visible;
			}	
		}

		&__plan {
			width: 60%;
			padding: 64px;
			@include flex($direction: column, $gap: 32px, $align: start);
			position: relative;
			background-color: $color-bg;
			
			&__titles {
				@include flex($direction: column, $gap: 12px, $align: start, $justify: center);
				position: relative;
				padding-left: 92px;
				width: 100%
			}

			&__title {
					@include h5;
					font-weight: 700;
					color: $color-text-main;
			}

			&__subtitle {
					font-weight: 400;

			}

			&-ico {
				
				position: absolute;
				top: -15%;
				left: 0;
			}

			&__discount {
				width: auto;
				padding: 12px;
				font-size: $size-xxs;
				background: $color-primary;
				border-radius: 20px;
				position: absolute;
				top: 10%;
				right: 8%;
				color: $color-bg;
			}
			&__desc {
				
				padding: 16px 0;
				width: 330px;
			}

			&__rate {
				
				font-size: $size-xxl;
				color: $color-text-main;
				font-weight: 600;
				&_small {
					@include h5;
					font-weight: 600;
					color: $color-text-second;
				}
			}
			&__button {
				@include flex($justify: center);
				@include button-outline;
				width: 100%;
				height: 64px;
			}
		}

		&__benefits {
			padding: 80px 48px;
			width: 50%;
			@include flex($direction: column, $gap: 32px, $align: start, $justify: start);
			background: $color-bg-second;

			&__title {
				@include h5;
				font-weight: 700;
				color: $color-text-main;
			}

			&__list {
				@include flex($direction: column, $gap: 16px, $align: start);
				list-style: none;

				&__ico {
					min-height: 30px;
					min-width: 30px;
					margin-top: 2px;
				}


				&__item {
					@include flex($gap: 11px, $align: start);
					@include small-text;
					color: $color-text-main;
					font-weight: 600;
					

					
				}
			}
		}
	}


	
}

// prices styled end



// questions styled start

.questions {
	width: 100%;
	height: auto;

	position: relative;
	overflow: hidden;

	&-blur-circle {
		width: 600px;
		height: 600px;
		left: 80%;
		top: -15%;
		z-index: -999;
	}
	
	&__content {
		height: 100%;
		width: 100%;
		border-radius: 20px;
	}
	
	&__title {
		color: $color-text-main;
		text-align: center;
		margin-bottom: 50px;
	}

	
	&__cards {
		max-width: 900px;
		margin: 0 auto;
		height: auto;
		@include flex($direction: column, $gap: 24px, $align: stretch)
	}

	&__card {
		
		border: 1px solid $color-primary;
		border-radius: 20px;
		transition: $transition-main;

		&-header {
			@include flex($align: start, $gap: 20px);
			padding: 36px 48px 36px 48px;
			cursor: pointer;

			&.active-accordion {
				
				.questions__card-ico {
					transform: rotate(225deg);
				}
			}
		}

		&-ico {
			
			min-width: 30px;
			@include hover-opacity;
			transition: all 0.5s ;
			
		}
		&-title {
			
			color: $color-text-main;
			font-weight: 600;
		}

		&-answer {
			
			padding: 0 48px;
			height: 0;
			overflow: hidden;
			transition: height 0.3s , margin 0.5s , opacity 0.3s ease 0.3s;
			will-change: contents;
			opacity: 0;
			&.active-accordion {
				opacity: 1;
				margin-bottom: 36px;
			}
		}

		&:hover {
			border-color: $color-text-second;
		}
	}

	&__list {
		@include flex($direction: column, $gap: 30px);
		list-style: disc;
		list-style-position: inside;

		&-item {
			
		}
	}
}

// questions styled end



// consultation styled start

.consultation {
	width: 100%;
	height: auto;
	padding: 80px 0;
	position: relative;
	overflow: hidden;

	&-blur-circle {
		left: -20%;
		top: -20%;
		width: 900px;
		height: 900px;
		z-index: -999;
	}
	&__content {
		@include flex($align: stretch);
		height: 100%;
		width: 100%;
		border-radius: 20px;
		overflow: hidden;
		box-shadow: $shadow;
	}
	
	&__title {
		color: $color-text-main;
	}

	
	&__desc {
		
	}
	

	&__info {
		@include flex($direction: column, $justify: center, $gap: 24px);
		width: 53%;
		padding: 0 64px;
		background: $color-bg;
		&__text {
			@include flex($direction: column, $align: center)
		}

		&__buttons {
			@include flex($gap: 16px);
			
		}

	}

	&__container-form {
		height: 100%;
		width: 50%;
		padding: 64px;
		background-color: $color-bg-second;
	}

	&__form {
		@include flex($direction: column, $align: start, $gap: 28px);
		padding: 48px 40px;
		border-radius: 25px;
		box-shadow: $shadow;
		background: $color-bg;
		width: 100%;
		height: 100%;

		&-title {

			color: $color-text-main;
		}

		&-input {
			@include input;
			width: 100%;
			height: 68px;
		}
		&-textarea {
			@include input;
			width: 100%;
			height: 132px;
			resize: none;
		}


		&-button {
			@include button-primary;
			width: 100%;
			height: 68px;
			
		}
	}

	
}

// consultation styled end


// about styled start

.about {
	width: 100%;
	height: auto;
	margin-bottom: 80px;
	overflow: hidden;

	&__content {
		@include flex();
		width: 100%;
		
	}
	
	&__img-container {
		@include flex($justify: end);
		width: 60%;
		overflow: hidden;


	}

	&__img {
		width: 720px;
		height: 633px;
	}

	&__info {
		@include flex($direction: column, $align: start, $gap: 24px);
		height: auto;
		width: 40%;


		
	}

	&__title {
		color: $color-text-main;
	}
	
	&__desc {

	}

	&__link {
		color: $color-primary;
		line-height: 34px;	
		position: relative;
		padding-right: 20px;
		transition: $transition-main;

		&::after {
			content: '';
			width: 8px;
			height: 8px;
			border: 2px solid $color-primary;
			border-left: none;
			border-bottom: none;
			transform: rotate(45deg) translateY(-50%);
			position: absolute;
			top: 43%;
			right: 0;
		}

		&:hover {
			padding-right: 35px;
		}
	}
}

// about styled end

// footer styles start

.footer {
	width: 100%;
	
	margin-bottom: 20px;
	padding-top: 40px;

	&-logo {
		width: 192px;
		height: 60px;
	}
	&__content {
		width: 100%;
		@include flex ();
		
		padding: 16px 10px;
	}



	&-container {
		@include flex($direction: column, $gap: 20px)
	}

	
	&-menu {
		width: 200px;

		&__list__item {
			font-size: $size-xs;
		}
	}
}

// footer styles end




// MEDIA QUERIES START


@include media-max-l {

// header styled start

	.header {
		

		// &__content {
		// 	margin: 0;
		// }
		


	}


// header styled end





	// intro styles start 
		
		.intro {


		}
		
		// intro styled end
		
		
		
		
		
		// benefits styled start
		
		.benefits {

			&-blur-circle {
				left: -20%;
			}
		}
		
		// benefits styled end
		
		
		
		
		
		// demo styled start
		
		.demo {

			&__content {

				
			}
		}
		
		// demo styled end
		
		
		
		
		
		//prices styled start
		
		.prices {

			
		}
		
		// prices styled end
		
		
		
		
		
		// questions styled start
		
		.questions {

			
		}
		
		// questions styled end
		
		
		
		
		
		// consultation styled start
		
		.consultation {

			&__content {


			}
			
			&__info {
				padding: 30px;
				width: 45%;
			}
			&__container-form {
				padding: 30px;
				width: 55%;
			}
		}
		
		// consultation styled end
		
		
		
		
		
		// about styled start
		
		.about {

			&__content {
				flex-direction: column;
				gap: 40px;
			}

			&__info {
				width: 100%;
			}

			&__img-container {
				width: 100%;
				border-radius: 32px;
				background: lighten($color-primary, 36%);
				
			}
		}
		
		// about styled end
		
		
		
		
		
		// footer styles start
		
		
		.footer {

			
		}
		// footer styles end
		}



@include media-max-m {

	.circles {
		display: none;
		// width: 1000px;
		// height: 1000px;
	}

	
	// header styled start
	
	.header {

		&__connect-button {
			display: none;
		}
	}
	
	
	// header styled end
	
	
	
	
	
	// intro styles start 
		
	.intro {

		height: 100vh;
		padding-bottom: 80px;
			&__content {
				height: calc(100vh - 160px);
			}
			&__content-container {
				height: 100%;
				width: 100%;
				align-items: center;
				justify-content: space-evenly;
				// gap: 20px;
			}

			&__info {
				align-items: center;
				gap: 40px;

			}	

			&__title {
				text-align: center;
				width: 80%;
			}
			&__desc {
				text-align: center;
			}

			&__img {
				display: none;
				
			}

			
		
	}
		
	// intro styled end
		
		
		
		
		
		// benefits styled start
		
		.benefits {

			
		}
		
		// benefits styled end
		
		
		
		
		
		// demo styled start
		
		.demo {

			&__content {
				gap: 40px;
				flex-direction: column;
			}

			&__img-container {
				width: 100%;
			}

			&__info {
				width: 80%;
			}

			&__title {

			}
			
		}
		
		// demo styled end
		
		
		
		
		
		//prices styled start
		
		.prices {

			&-tabs {

				&__main {
				}

				&__plan {
					padding: 40px 30px;
					width: 60%;

					&__discount {
						padding: 10px;
						top: 0;
						right: 0;
						border-radius: 0;
						border-bottom-left-radius: 20px;
						
					}
				}

				&__benefits {
					padding:  40px 30px;
					width: 40%;
				}
			}
		}
		
		// prices styled end
		
		
		
		
		
		// questions styled start
		
		.questions {

			
		}
		
		// questions styled end
		
		
		
		
		
		// consultation styled start
		
		.consultation {

			&__content {

				flex-direction: column;
			}
			
			&__info {
				padding: 50px 30px;
				width: 100%;
			}
			&__container-form {
				padding: 50px 30px;
				width: 100%;
			}
			
		}
		
		// consultation styled end
		
		
		
		
		
		// about styled start
		
		.about {

			
		}
		
		// about styled end
		
		
		
		
		
		// footer styles start
		
		
		.footer {

			
		}
		// footer styles end
		
	}



	@include media-max-s {

		.title {
			font-size: $size-l;
		}
		.subtitle {
			font-size: $size-m;
		}
	
		.text {
			font-size: $size-xs;
		}

		.small-text {
			font-size: $size-xxs;
		}

		.menu {
			width: auto;
		}
		// circle styles start

		@keyframes pulce {
			from {
				transform: scale(1.0);
			}

			50% {
				transform: scale(1.6);
			}

			to {
				transform: scale(1.2);
			}
		}

		.circles {
			display: none;
			right: -100%;
			width: 100vh;
			height: 100vh;

			.circle {
				display: none;
				// @include flex($justify: center);
				animation: pulce 0.5s  0 infinite ;
				

				&-first {
					width: 100%;
					height: 100%;
					background: rgba(255, 239, 191, 1);
				}
				&-second {
					
					width: 90%;
					height: 90%;
					background: rgba(252, 200, 39, 1);
				}

				&-third {
					width: 90%;
					height:  90%;

					background: rgba(255, 156, 55, 0.7);
				}
			}

			

			

		}

		.blur-circle {
			display: none;
			z-index: -999;
		}
		// circle styles end


		// header styled start
		
			.header {
				height: 60px;


				&-menu__list {
					position: fixed;
					top: 70px;
					right: 15px;
					width: auto;
					height: auto;
					flex-direction: column;
					background: $color-bg;
					box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1019607843);
					transform: translate(100vw);
					overflow: hidden;
					transition: transform 0.5s;
					border-radius: 5px;
					
					

					&__link {
						
					}

					&__item {
						padding: 5px 30px;
						border-bottom: 1px solid $color-text-third;

						&:last-child {
							border-bottom: none;
						}
						font-size: $size-xs;
						

					} 
				}
				
				&-burger {
					display: flex;
				}

				&-menu {

					
					&.show {

						.header-menu__list {
							// transition: opacity 0.5s linear, visibility 0s;
							// transform: scale(1);
							transform: translate(0);
							// visibility: visible;
							// opacity: 1;
						}

						.header-burger {
							
							&__line {
								top: 50%;
								left: 0;
								transition: transform 0.5s ease 0.3s, top 0.3s ease, opacity 0.3s ease ;
								// transform: translateY(-50%);
								&_second {
									opacity: 0;
								}

								&_first {
									transform: rotate(135deg);
									
								}

								&_third {
									transform: rotate(-135deg);
								}
							}
						}

						
					}
				}
		
			}
		
		
		// header styled end
		
		
		
		
		
		// intro styles start 
		
		.intro {
			padding-top: 100px;
			height: auto;

			&__content {


				&-container {
					gap: 40px;
				}
			}

			&__title {
				width: 100%;
				text-align: left;
			}

			&__desc {
				text-align: left;
			}

			&__info {


				&__buttons {
					flex-direction: column;
					width: 100%;
					height: auto;


				}

				

				
			}

			&__button {
				height: 64px;
				width: 100%;
			}
			

			&__desc {
				width: auto;
			}
		}
		
		// intro styled end
		
		
		
		
		
		// benefits styled start
		
		.benefits {

			&__content {
				gap: 30px;
			}

			&__cards {
				grid-template-columns: repeat(1, 1fr);
				gap: 40px;
			}

			&__card {

				&-ico {
					width: 35px;
					height: 35px;

					&-container {
						@include flex($justify: center);
						width: 90px;
						height: 90px;
					}
				}



				&-title {
					font-size: $size-m;
				}

				&-desc {
					font-size: $size-xs;
				}
			}
			
		}
		
		// benefits styled end
		
		
		
		
		
		// demo styled start
		
		.demo {

			&__info {
				width: 100%;
				&__buttons {
					flex-direction: column;
					width: 100%;
				}

			}

			&__img {
				width: 350px;
				height: 340px;
			}

			&__title {
				width: auto;
			}

			&__desc {
				width: auto;
			}
			

			&__button {
				
				width: 100%;
			}
			
		}
		
		// demo styled end
		
		
		
		
		
		//prices styled start
		
		.prices {

			
			&__content {
				gap: 25px;
			}
			
			&__subtitle {
				width: auto;
			}

			&__title {
				width: auto;
				
			}

			&-tabs {

				&__header {
					flex-direction: column;
					align-items: start;
				}

				&__container-title {
					width: 100%;
					justify-content: start;
					&:hover {
						opacity: 1;
					}
				}

				&__main {
					flex-direction: column;

					transform: translateY(0);
					transform: translateX(30%);
					transition: transform 0.5s, opacity 0.5s;

					&.active-tab {
						transform: translateX(0);
						transition: transform 0.5s 0.1s, opacity 0.5s 0.1s;
					}
				}

				&__plan {
					width: 100%;

					&__rate {
						font-size: 34px;

						&_small {
							font-size: 16px;
						}
					}

					&__desc {

						width: auto;
					}

					&-ico {
						top: 0;
						width: 55px;
						height: 55px;
					}

					&__titles {
						padding-left: 65px;
					}

					
				}

				&__benefits {
					height: 50%;
					width: 100%;
				}
			}
		}
		
		// prices styled end
		
		
		
		
		
		// questions styled start
		
		.questions {
			
			&__title {
				margin-bottom: 30px;
			}
			&__card {

				&-header {
					padding: 18px 22px;
				}

				&-answer {
					padding: 0 22px;
					font-size: $size-xs;
				}
			}


		}
		
		// questions styled end
		
		
		
		
		
		// consultation styled start
		
		.consultation {

			
			&__container-form {

				padding: 0;
				
			}

			&__form {
				border-radius: 0;
				padding: 40px 30px;

				&-input {
					padding: 14px 22px;
					height: auto;
					font-size: $size-xs;
				}

				&-textarea {
					padding: 14px 22px;
					height: 100px;
					font-size: $size-xs;
				}
			}

			&__info {
				padding: 40px 30px;

			}
		}
		
		// consultation styled end
		
		
		
		
		
		// about styled start
		
		.about {

			&__img-container {
				display: none;
			}
			// margin-bottom: 40px;
			
		}
		
		// about styled end
		
		
		
		
		
		// footer styles start
		
		
		.footer {
			padding: 0;
			&__content {
				flex-direction: column;
				gap: 20px;
			}

			&-menu {
				display: none;
			}
			
		}
		// footer styles end
		}



// MEDIA QUERIES END




.wow {
	visibility: hidden;
	
  }

.animated {
	visibility: hidden;
	
}