//отключение нотификации после обновления страницы
#__bs_notify__ {
	display: none !important;
}

// основные стили

.title {
	@include h2;
	color: $color-text-main;
}

.subtitle {
	@include h3
}

.bold {
	font-weight: bold;
}

.primary {
	color: $color-primary;
}

.logo {
	@include hover-opacity;
}


// menu styled start

.menu {
	height: 100%;
	width: 250px;

	&__list {
		width: 100%;
		height: 100%;
		@include flex();
		list-style: none;
	
		&-link {
			@include link();
		}
	
		&-item {
			@include font();
		}
	}
}




// menu styled end


// header styled start
.header {

	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	background: $color-bg;
	&__content {
		width: 100%;
		@include flex ();
		height: 64px;
		margin-top: 50px;
	}

	&__connect-button {
		@include button-primary($width: 240px, $height: 64px, $bg-color: $color-bg, $text-color: $color-primary);

		box-shadow: $shadow;
	}


}

// header styled end



// intro styles start 
.intro {
	width: 100%;
	height: 698px;
	padding-bottom: 136px;
	min-height: 100vh;

	margin-top: 114px;
	

	&__content {
		@include flex();
		height: 100%;
		width: 100%;
		
		&-container {
			@include flex($direction: column, $align: start);
			height: 445px;
			width: 60%;
		}
	}
	
	&__img {
		@include flex($justify: center);
		width: 30%;
		height: 50%;
		
	}

	&__info {
		@include flex($direction: column, $align: start);
		height: 296px;
		

		&__text {
			@include flex($direction: column, $align: center)
		}

		&__buttons {
			@include flex($gap: 16px);
			height: 64px;
		}

	

	}

	
	&__button_demo {
		@include button-outline();
		
		height: 100%;
		width: 147px;
	}
	&__button_connect {
		@include button-primary();
		height: 100%;
		width: 317px;
	}

	&__title {
		color: $color-text-main;

	}
	&__subtitle {
		color: $color-text-main;
	}
	
	&__desc {
		@include text;	
		width: 540px;

		
	}
}

// intro styled end

// benefits styled start

.benefits {

	width: 100%;
	margin-bottom: 80px;
	&__content {
		@include flex($direction: column, $gap: 50px);
		width: 100%;
		height: 414px;
	}

	&__title {
		
		color: $color-text-main;
		&_primary {
			color: $color-primary;
		}
	}

	&__cards {
		width: 100%;
		height: 100%;
		@include grid($columns: repeat(3, 1fr), $rows: 1fr, $gap: 24px)
	}

	&__card {
		@include flex($direction: column);


		&-ico {

			&-container {
				@include flex($justify: center);
				border: 2px dashed $color-primary;
				border-radius: 50%;
				width: 120px;
				height: 120px;
			}
			
		}

		&-title {
			@include h5;
			font-weight: 600;
			color: $color-text-main;
		}

		&-desc {
			@include small-text;
			text-align: center;
		}
	}
}

// benefits styled end


// demo styled start

.demo {
	width: 100%;
	height: auto;
	margin-bottom: 80px;

	&__content {
		@include flex($gap: 136px);
		padding: 50px 0;
		width: 100%;
		
	}

	&__desc {
		max-width: 400px;
		text-align: center;
	}
	
	&__img {
		@include flex($align: end, $justify: center);
		width: 50%;
		border-radius: 32px;
		background: lighten($color-primary, 35%);
	}

	&__info {
		@include flex($direction: column);
		height: 330px;
		width: 50%;

		&__buttons {
			@include flex($gap: 16px);
			
		}

	

	}

	
	&__button_demo {
		@include button-primary();
		height: 64px;
		width: 147px;
	}
	&__button_connect {
		@include button-outline();
		height: 64px;
		width: 215px;
	}

	&__title {
		color: $color-text-main;
		text-align: center;
	}
	&__subtitle {
		color: $color-text-main;
	}
	
	&__desc {
		@include text;	
		text-align: center;
	}
}

// demo styled end



//prices styled start

.prices {
	width: 100%;
	height: auto;
	margin-bottom: 80px;

	&__content {
		@include flex($direction: column, $gap: 48px);
		max-width: 900px;
		margin: 0 auto;
		
	}
	

	&__titles {
		@include flex($direction: column, $gap: 12px);
		width: 100%;
	}


	&__subtitle {
		@include text;
		text-align: center
	}

	&-tabs {

		&__header {
			@include flex;
			width: 100%;
			
		}

		&__container-title {

			@include flex($justify: center, $gap: 16px);
			color: $color-text-main;
			padding: 16px 0;
			width: 50%;
			border-bottom: 2px solid $color-text-third;
			cursor: pointer;
			transition: $transition-main;

			&:hover {
				border-color: $color-primary;
			}
		}

		&__title {
			@include h5;
			
			
		}

		&__main {
			@include flex($align: stretch);
			width: 100%;
			overflow: hidden;
			border-radius: 20px;
			box-shadow: $shadow;
		}

		&__plan {
			width: 60%;
			padding: 64px;
			@include flex($direction: column, $gap: 32px, $align: start);

			&__titles {
				@include flex($direction: column, $gap: 12px, $align: start, $justify: center);
				position: relative;
				padding-left: 92px;
			}

			&__title {
					@include h5;
					font-weight: 700;
					color: $color-text-main;
			}

			&__subtitle {
					font-weight: 600;

			}

			&-ico {
				position: absolute;
				top: 0;
				left: 0
			}
			&__desc {
				@include text;
				padding: 16px 0;
				width: 330px;
			}

			&__rate {
				
				font-size: $size-xxl;
				color: $color-text-main;

				&_small {
					@include h5;
					font-weight: 600;
					color: $color-text-second;
				}
			}
			&__button {
				@include button-outline;
				width: 100%;
				height: 64px;
			}
		}

		&__benefits {
			padding: 80px 48px;
			width: 50%;
			@include flex($direction: column, $gap: 32px, $align: start, $justify: start);
			background: $color-bg-second;

			&__title {
				@include h5;
				font-weight: 700;
				color: $color-text-main;
			}

			&__list {
				@include flex($direction: column, $gap: 16px, $align: start);
				list-style: none;

				&__item {
					@include flex($gap: 11px);
					@include small-text;
					color: $color-text-main;
					font-weight: 600;
					

					
				}
			}
		}
	}


	
}

// prices styled end



// questions styled start

.questions {
	width: 100%;
	height: auto;
	margin-bottom: 80px;
	
	&__content {
		height: 100%;
		width: 100%;
		border-radius: 20px;
	}
	
	&__title {
		color: $color-text-main;
		text-align: center;
		margin-bottom: 50px;
	}

	
	&__cards {
		max-width: 900px;
		margin: 0 auto;
		height: auto;
		@include flex($direction: column, $gap: 24px, $align: stretch)
	}

	&__card {
		
		border: 1px solid $color-primary;
		border-radius: 20px;
		padding: 36px 48px 20px 48px;

		&-header {
			@include flex($align: start, $gap: 20px);
			
		}

		&-ico {
			cursor: pointer;
			min-width: 30px
		}
		&-title {
			@include text;
			color: $color-text-main;
			font-weight: 600;
			line-height: 30px;
		}

		&-answer {
			@include small-text;
			margin-top: 16px;
			height: 0;
			overflow: hidden;
		}
	}

	&__list {
		@include flex($direction: column, $gap: 30px);
		list-style: disc;
		list-style-position: inside;

		&-item {
			
		}
	}
}

// questions styled end



// consultation styled start

.consultation {
	width: 100%;
	height: 706px;
	margin-bottom: 80px;
	
	&__content {
		@include flex();
		height: 100%;
		width: 100%;
		border-radius: 20px;
		overflow: hidden;
		box-shadow: $shadow;
	}
	
	&__title {
		color: $color-text-main;
	}

	
	&__desc {
		@include text;	
	}
	

	&__info {
		@include flex($direction: column, $justify: center, $gap: 24px);
		height: 100%;
		width: 53%;
		padding: 0 64px;
		&__text {
			@include flex($direction: column, $align: center)
		}

		&__buttons {
			@include flex($gap: 16px);
			
		}

	}

	&__container-form {
		height: 100%;
		width: 50%;
		padding: 64px;
		background-color: $color-bg-second;
	}

	&__form {
		@include flex($direction: column, $align: start);
		padding: 48px 40px;
		border-radius: 25px;
		box-shadow: $shadow;
		background: $color-bg;
		width: 100%;
		height: 100%;

		&-title {

			color: $color-text-main;
		}

		&-input {
			@include input;
			width: 100%;
			height: 68px;
		}
		&-textarea {
			@include input;
			width: 100%;
			height: 132px;
			resize: none;
		}


		&-button {
			@include button-primary;
			width: 100%;
			height: 68px;
			
		}
	}

	
}

// consultation styled end


// about styled start

.about {
	width: 100%;
	height: auto;
	margin-bottom: 80px;

	&__content {
		@include flex();
		width: 100%;
		
	}
	
	&__img {
		width: 60%;
		overflow: hidden;
	}

	&__info {
		@include flex($direction: column, $align: start);
		height: 484px;
		width: 40%;


		
	}

	&__title {
		color: $color-text-main;
	}
	
	&__desc {
		@include text;

		
	}

	&__link {
		color: $color-primary;
		line-height: 34px;	
		position: relative;
		padding-right: 20px;
		transition: $transition-main;

		&::after {
			content: '';
			width: 8px;
			height: 8px;
			border: 2px solid $color-primary;
			border-left: none;
			border-bottom: none;
			transform: rotate(45deg) translateY(-50%);
			position: absolute;
			top: 47%;
			right: 0;
		}

		&:hover {
			padding-right: 35px;
		}
	}
}

// about styled end

// footer styles start

.footer {
	width: 100%;
	padding: 16px 10px;

	&__content {
		width: 100%;
		@include flex ();
		height: 90px;
		margin-bottom: 20px;
	}

	&__social-menu {
		width: 150px;

		
	}

	.social-menu {

		&__list {

			&__link {
				@include hover-opacity
				
				
			}
		}
	}

	&-menu__list__item {
		font-size: $size-xs;
	}
}

// footer styles end




// MEDIA QUERIES START


@include media-max-l {

// header styled start

	.header {
		margin: 40px 0;

		&__content {
			margin: 0;
		}
		&__connect-button {
			display: none;
		}


	}


// header styled end





	// intro styles start 
		
		.intro {
			height: 60vh;

			&__content {
				height: 100%;
			}
			&__content-container {
				width: 100%;
				align-items: center;
				gap: 20px;
			}

			&__info {
				align-items: center;
				gap: 40px;

			}	

			&__title {
				text-align: center;
				width: 80%;
			}
			&__desc {
				text-align: center;
			}

			&__img {
				display: none;
				
			}

			
		}
		
		// intro styled end
		
		
		
		
		
		// benefits styled start
		
		.benefits {

			
		}
		
		// benefits styled end
		
		
		
		
		
		// demo styled start
		
		.demo {

			
		}
		
		// demo styled end
		
		
		
		
		
		//prices styled start
		
		.prices {

			
		}
		
		// prices styled end
		
		
		
		
		
		// questions styled start
		
		.questions {

			
		}
		
		// questions styled end
		
		
		
		
		
		// consultation styled start
		
		.consultation {

			
		}
		
		// consultation styled end
		
		
		
		
		
		// about styled start
		
		.about {

			
		}
		
		// about styled end
		
		
		
		
		
		// footer styles start
		
		
		.footer {

			
		}
		// footer styles end
		}



@include media-max-m {

	// header styled start
	
		
	
	
	// header styled end
	
	
	
	
	
	// intro styles start 
		
		
		
		// intro styled end
		
		
		
		
		
		// benefits styled start
		
		.benefits {

			
		}
		
		// benefits styled end
		
		
		
		
		
		// demo styled start
		
		.demo {

			
		}
		
		// demo styled end
		
		
		
		
		
		//prices styled start
		
		.prices {

			
		}
		
		// prices styled end
		
		
		
		
		
		// questions styled start
		
		.questions {

			
		}
		
		// questions styled end
		
		
		
		
		
		// consultation styled start
		
		.consultation {

			
		}
		
		// consultation styled end
		
		
		
		
		
		// about styled start
		
		.about {

			
		}
		
		// about styled end
		
		
		
		
		
		// footer styles start
		
		
		.footer {

			
		}
		// footer styles end
		
	}



	@include media-max-s {

		// header styled start
		
			.header {
	
		
			}
		
		
		// header styled end
		
		
		
		
		
		// intro styles start 
		
		
		
		// intro styled end
		
		
		
		
		
		// benefits styled start
		
		.benefits {

			
		}
		
		// benefits styled end
		
		
		
		
		
		// demo styled start
		
		.demo {

			
		}
		
		// demo styled end
		
		
		
		
		
		//prices styled start
		
		.prices {

			
		}
		
		// prices styled end
		
		
		
		
		
		// questions styled start
		
		.questions {

			
		}
		
		// questions styled end
		
		
		
		
		
		// consultation styled start
		
		.consultation {

			
		}
		
		// consultation styled end
		
		
		
		
		
		// about styled start
		
		.about {

			
		}
		
		// about styled end
		
		
		
		
		
		// footer styles start
		
		
		.footer {

			
		}
		// footer styles end
		}



// MEDIA QUERIES END

