// Utils
@mixin absolute-vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
@mixin absolute-horizontal-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


// max-width queries
@mixin media-max-s {
	@media screen and (max-width: $breakpoint-small-max) {
		@content;
	}
}
@mixin media-max-m {
	@media screen and (max-width: $breakpoint-medium-max) {
		@content;
	}
}
@mixin media-max-l {
	@media screen and (max-width: $breakpoint-large-max) {
		@content;
	}
}
//@mixin media-max-xl {
//	@media screen and (max-width: $breakpoint-xlarge-max) {
//		@content;
//	}
//}

// min-width queries
@mixin media-min-s {
	@media screen and (max-width: $breakpoint-small-min) {
		@content;
	}
}
@mixin media-min-m {
	@media screen and (max-width: $breakpoint-medium-min) {
		@content;
	}
}
@mixin media-min-l {
	@media screen and (max-width: $breakpoint-large-min) {
		@content;
	}
}

//@mixin media-min-xl {
//	@media screen and (max-width: $breakpoint-xlarge-min) {
//		@content;
//	}
//}

////////////////////////
/// using example
/// @include media mins {
/// 	.header { 
/// 		display: none;
/// 	}
/// }

// Hover, Links
@mixin hover-opacity {
	transition: opacity 0.2s;
	&:hover {
		opacity: 0.7;
	}
}

@mixin link ($color: $color-text-second, $hover: $color-primary) {
	color: $color;
	border-bottom: 1px solid transparent;
	border-radius: 999px;
	padding: 10px;
	transition: $transition-main;

	&:hover {
		border-color: $color-primary;
		color: $hover;
	}
}

// Fonts

@mixin font ($style: normal, $weight: normal, $size: $size-xs, $height: 100%, $family: $font-family-primary) {
	font-style: $style;
	font-weight: $weight;
	font-size: $size;
	line-height: $height;
	font-family: $family;
}	

@mixin h2 {
	font-weight: 600;
	font-size: $size-xl;
	line-height: 48px;
	font-family: $font-family-primary;
}	

@mixin h5 {
	font-weight: normal;
	font-size: $size-m;
	line-height: 24px;
	font-family: $font-family-primary;
}	

@mixin text {
	font-weight: normal;
	font-size: $size-s;
	line-height: 34px;
	font-family: $font-family-primary;
}	

@mixin small-text {
	font-weight: normal;
	font-size: $size-xs;
	line-height: 30px;
	font-family: $font-family-primary;
}	





// UI

@mixin button-primary ($width: 100%, $height: 100%, $bg-color: $color-primary, $text-color: $color-bg) {
	width: $width;
	height: $height;
	color: $text-color;
	background: $bg-color;
	border: 1px solid $bg-color;
	border-radius: 999px;

	transition: $transition-main;

	&:hover {
		background: $text-color;
		color: $bg-color;
	}
}	

@mixin button-outline ($width: 100%, $height: 100%, $bg-color: $color-bg, $text-color: $color-primary) {
	width: $width;
	height: $height;
	color: $text-color;
	background: $bg-color;
	border: 1px solid $text-color;
	border-radius: 999px;

	transition: $transition-main;

	&:hover {
		background: $text-color;
		color: $bg-color;
	}
}

@mixin input ($width: 100%, $height: 100%, $text-color: $color-text-second) {
	width: $width;
	height: $height;
	padding: 22px 24px;
	border-radius: 999px;
	color: $text-color;
	background: transparent;
	border: 1px solid $text-color;

	transition: $transition-main;

	&:hover {
		border: $color-primary;
		color: $color-primary;
	}
	&:focus {
		border: $color-text-main;
		color: $color-text-main;
	}
	&:valid {
		border: $color-green;
		color: $color-green;
	}
	&:invalid {
		border: $color-red;
		color: $color-red;
	}
}



// displays
@mixin grid ($columns, $rows, $gap: 0) {
	display: grid;
	grid-template-columns: $columns;
	grid-template-rows: $rows;
	gap: $gap;
}

@mixin flex ($align: center, $justify: space-between, $direction: row, $gap: 0) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
	flex-direction: $direction;
	gap: $gap;
}