// Utils
@mixin absolute-vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
@mixin absolute-horizontal-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


// min-width queries
@mixin media-min-s {
	@media screen and (min-width: $breakpoint-small-min) {
		@content;
	}
}
@mixin media-min-m {
	@media screen and (min-width: $breakpoint-medium-min) {
		@content;
	}
}
@mixin media-min-l {
	@media screen and (min-width: $breakpoint-large-min) {
		@content;
	}
}
//@mixin media-max-xl {
//	@media screen and (max-width: $breakpoint-xlarge-max) {
//		@content;
//	}
//}

// max-width queries
@mixin media-max-s {
	@media screen and (max-width: $breakpoint-small-max) {
		@content;
	}
}
@mixin media-max-m {
	@media screen and (max-width: $breakpoint-medium-max) {
		@content;
	}
}
@mixin media-max-l {
	@media screen and (max-width: $breakpoint-large-max) {
		@content;
	}
}

//@mixin media-min-xl {
//	@media screen and (max-width: $breakpoint-xlarge-min) {
//		@content;
//	}
//}

////////////////////////
/// using example
/// @include media mins {
/// 	.header { 
/// 		display: none;
/// 	}
/// }

// Hover, Links
@mixin hover-opacity {
	transition: $transition-main;
	&:hover {
		opacity: 0.7;
	}
}

@mixin hover-scale($transition: $transition-slow) {
	transition: $transition;

	&:hover {
		transform: scale(1.1);
	}
}

@mixin link ($color: $color-text-second, $hover: $color-primary) {
	color: $color;
	transition: $transition-main;

	&:hover {
		color: $hover;
	}
}



// Fonts

@mixin font ($style: normal, $weight: normal, $size: $size-s, $height: 100%, $family: $font-family-primary) {
	font-style: $style;
	font-weight: $weight;
	font-size: $size;
	line-height: $height;
	font-family: $family;
}	

@mixin h2 {
	font-weight: 700;
	font-size: $size-xl;
	line-height: 140%;
	font-family: $font-family-primary;
}	

@mixin h3 {
	font-weight: 600;
	font-size: $size-l;
	line-height: 140%;
	font-family: $font-family-primary;
}

@mixin h5 {
	font-weight: normal;
	font-size: $size-m;
	line-height: 100%;
	font-family: $font-family-primary;
}	

@mixin text {
	font-weight: normal;
	font-size: $size-s;
	line-height: 170%;
	font-family: $font-family-primary;
}	

@mixin small-text {
	font-weight: normal;
	font-size: $size-xs;
	line-height: 170%;
	font-family: $font-family-primary;
}	





// UI

@mixin button-primary ($width: auto, $height: 64px, $bg-color: $color-primary, $text-color: $color-bg) {
	width: $width;
	height: $height;
	color: $text-color;
	background: $bg-color;
	border: 1px solid $bg-color;
	border-radius: 999px;
	padding: 15px 48px;
	transition: $transition-main;

	&:hover {
		background: $text-color;
		color: $bg-color;
	}
}	

@mixin button-outline ($width: auto, $height: 64px, $bg-color: $color-bg, $text-color: $color-primary) {
	width: $width;
	height: $height;
	color: $text-color;
	background: $bg-color;
	border: 1px solid $text-color;
	border-radius: 999px;
	padding: 15px 48px;
	transition: $transition-main;

	&:hover {
		background: $text-color;
		color: $bg-color;
	}
}

@mixin input (
				$width: 100%, 
				$height: 100%, 
				$text-color: $color-text-second, 
				$border-color: $color-primary,
				$hover: $color-text-second,
				$focus: $color-text-main,
				$valid: $color-green,
				$invalid: $color-red, 
				) {
	width: $width;
	height: $height;
	padding: 22px 24px;
	border-radius: 32px;
	color: $text-color;
	background: transparent;
	border: 1px solid $border-color;
	// border: none;
	transition: $transition-main;

	&:default {
		border-color: $border-color;
		color: $text-color;
	}
	&:hover {
		border-color: $hover;
		color: $hover;
	}
	&:focus {
		border-color: $focus;
		color: $focus;
	}
	&:valid {
		border-color: $valid;
		color: $valid;
	}
	&:not(:placeholder-shown):invalid {
		border-color: $invalid;
		color: $invalid;
	}
}



// displays
@mixin grid ($columns, $rows, $gap: 0) {
	display: grid;
	grid-template-columns: $columns;
	grid-template-rows: $rows;
	gap: $gap;
}

@mixin flex ($align: center, $justify: space-between, $direction: row, $gap: 0) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
	flex-direction: $direction;
	gap: $gap;
}


// animation

@mixin pulce ($width, $height) {
	@keyframes pulce {
		from {
			width: $width;
			width: $height;

		}

		50% {
			width: $width * 1.1;
			width: $height * 1.1;
		}

		to {
			width: $width;
			width: $height;

		}
	}
}

// blur-circle

// @mixin blur-circle($width: 100px, $height: 100px) {
// 	po
// }