// Fonts
$font-family-primary: "Nunito Sans", sans-serif;

// Font-sizes
$size-xxxs: 12px;
$size-xxs: 14px;
$size-xs: 18px;
$size-s: 20px;
$size-m: 24px;
$size-l: 28px;
$size-xl: 40px;
$size-xxl: 54px;


// Titles 


//Colors

$color-red: rgba(232, 73, 73, 1);
$color-green: rgba(76, 191, 87, 1);
$color-primary: rgba(255, 156, 55, 1); 
$color-text-main: rgba(46, 46, 58, 1);
$color-text-second:rgba(109, 106, 116, 1);
$color-text-third:rgba(190, 187, 194, 1);
$color-bg: rgba(255, 255, 255, 1);
$color-bg-second: rgba(252, 249, 247, 1);

//Shadow

$shadow: 14px 10px 86px 5px rgba(0, 0, 0, 0.1);


// Brand colors

// Transitions 

$transition-main: all 0.2s ease-out;

// Breakpoints
$breakpoint-small-max: 640px !default;
$breakpoint-medium-max: 1023px !default;
$breakpoint-large-max: 1199px !default;
//$breakpoint-xlarge-max: 1600px !default;

$breakpoint-small-min: 640px !default;
$breakpoint-medium-min: 1024px !default;
$breakpoint-large-min: 1200px !default;
//$breakpoint-xlarge-min: 1600px !default;

