// Fonts
$font-family-primary: "Proxima nova", sans-serif;

//Colors

//Shadow

// Brand colors

// Breakpoints
$breakpoint-small-max: 640px !default;
$breakpoint-medium-max: 1023px !default;
$breakpoint-large-max: 1199px !default;
//$breakpoint-xlarge-max: 1600px !default;

$breakpoint-small-min: 640px !default;
$breakpoint-medium-min: 1024px !default;
$breakpoint-large-min: 1200px !default;
//$breakpoint-xlarge-min: 1600px !default;
