<footer class="footer">
    <div class="wrapper footer-container">
        <div class="footer__content">
            <a href="#" class="logo">
                <img src="/static/img/general/logo.svg" alt="logo" class="logo-img">
            </a>

            <nav class="footer__social-menu social-menu menu">
                <ul class="menu__list social-menu__list">
                    <a href="#!" class="social-menu__list__link menu__list-link">
                        {{Icon iconName="instagram" className="social-menu__list__item menu__list-item"}}
                    </a>
                    <a href="#!" class="social-menu__list__link menu__list-link">
                        {{Icon iconName="whatsapp" className="social-menu__list__item menu__list-item"}}
                    </a>
                    <a href="#!" class="social-menu__list__link menu__list-link">
                        {{Icon iconName="mail" className="social-menu__list__item menu__list-item"}}
                    </a>
                    <a href="#!" class="social-menu__list__link menu__list-link">
                        {{Icon iconName="telegram" className="social-menu__list__item menu__list-item"}}
                    </a>
                </ul>
            </nav>

            <nav class="footer-menu menu">
                <ul class="footer-menu__list menu__list ">
                    <a href="#demo" class="footer-menu__list__link menu__list-link">
                        <li class="footer-menu__list__item menu__list-item">
                            Демо                         
                        </li>
                    </a>
                    <a href="#prices" class="footer-menu__list__link menu__list-link">
                        <li class="footer-menu__list__item menu__list-item">
                            Цены
                        </li>
                    </a>
                    <a href="#about" class="footer-menu__list__link menu__list-link">
                        <li class="footer-menu__list__item menu__list-item" >
                            О нас
                        </li>
                    </a>
                </ul>
            </nav>

            
        </div>
        <p class="protection">
            © 2020-2023 Все права защищены. Sync<span class="primary">Up</span>
        </p>
    </div>
</footer>

{{> modals/modals}}
{{> scripts/scripts}}
