<footer class="footer">
    <div class="wrapper footer-container">
        <div class="footer__content">
            <a href="#" class="logo footer-logo">
                <img src="static/img/general/logo.svg" alt="logo" class="logo-img footer-logo-img">
            </a>

            <nav class="footer__social-menu social-menu menu">
                <ul class="menu__list social-menu__list">
                    <a href='https://www.instagram.com/syncup.web/' target='_blank' class="social-menu__list__link menu__list-link wow animate__animated animate__fadeInUp" data-wow-duration="0.5s" >
                        {{Icon iconName="instagram" className="social-menu__list__item menu__list-item"}}
                    </a>
                    <a  href='https://wa.me/+77755690447' target='_blank' class="social-menu__list__link menu__list-link wow animate__animated animate__fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                        {{Icon iconName="whatsapp" className="social-menu__list__item menu__list-item"}}
                    </a>
                    <a href='mailto:syncupweb@gmail.com' class="social-menu__list__link menu__list-link wow animate__animated animate__fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">
                        {{Icon iconName="mail" className="social-menu__list__item menu__list-item"}}
                    </a>
                    <a href='https://t.me/syncupweb' target='_blank' class="social-menu__list__link menu__list-link wow animate__animated animate__fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.6s">
                        {{Icon iconName="telegram" className="social-menu__list__item menu__list-item"}}
                    </a>
                </ul>
            </nav>

            <nav class="footer-menu menu">
                <ul class="footer-menu__list menu__list ">
                    <li class="footer-menu__list__item menu__list-item">
                        <a href="#demo" class="footer-menu__list__link menu__list-link  js-scroll">
                            Демо                         
                        </a>
                    </li>
                    <li class="footer-menu__list__item menu__list-item">
                        <a href="#prices" class="footer-menu__list__link menu__list-link  js-scroll">
                            Цены
                        </a>
                    </li>
                    <li class="footer-menu__list__item menu__list-item" >
                        <a href="#about" class="footer-menu__list__link menu__list-link  js-scroll">
                            О нас
                        </a>
                    </li>
                </ul>
            </nav>

            
        </div>
        <p class="protection">
            © 2020-2023 Все права защищены. Sync<span class="primary">Up</span>
        </p>
    </div>
</footer>

{{> modals/modals}}
{{> scripts/scripts}}
