<div class="benefits">
    <div class="wrapper">
        <section class="benefits__content">
            <h2 class="title benefits__title">Плюсы <span class="primary">SyncQR</span></h2>
            <div class="benefits__cards">
                <div class="benefits__card">
                    <div class="benefits__card-ico-container">
                        {{Icon iconName="coin" className="benefits__card-ico"}}
                    </div>
                    <h5 class="benefits__card-title">Экономия средств</h5>
                    <p class="benefits__card-desc">
                        QR-меню cнижает расходы на печать и обновление бумажных меню, позволяя ресторанам более эффективно распределять свои ресурсы.
                    </p>
                </div>
                <div class="benefits__card">
                    <div class="benefits__card-ico-container">
                        {{Icon iconName="info" className="benefits__card-ico"}}
                    </div>
                    <h5 class="benefits__card-title">Гигиена для гостя</h5>
                    <p class="benefits__card-desc">
                         Для гостей обеспечена улучшенная гигиена, позволяющая им избежать контакта с общими бумажными меню и уменьшить взаимодействие с персоналом
                    </p>         
                   
                </div>
                <div class="benefits__card">
                    <div class="benefits__card-ico-container">
                        {{Icon iconName="check" className="benefits__card-ico"}}
                    </div>
                    <h5 class="benefits__card-title">Увеличение прибыли</h5>
                    <p class="benefits__card-desc">
                        Ввиду удобства Гости склонны делать больше заказов, что приводит к увеличению среднего чека и общей выручки заведения
                    </p>         
                </div>
            </div>
        </section>
    </div>
</div>