<div class='call'>
	<div class='call-content'>
		<span>
			<a href='https://www.instagram.com/syncup.web/' target='_blank'>
                {{Icon iconName="call-2"}}
            </a>
		</span>
		<span>
			<a href='https://t.me/syncupweb' target='_blank'>
                {{Icon iconName="call-1"}}
            </a>
		</span>
		<span>
			<a href='https://wa.me/+77755690447' target='_blank'>
                {{Icon iconName="call-3"}}
            </a>
		</span>
		<span>
			<a href='mailto:syncupweb@gmail.com'>
                {{Icon iconName="call-5"}}
            </a>
		</span>
		<span>
			<a href='tel:+7 775 569 04 47'>
                {{Icon iconName="call-6"}}
            </a>
		</span>
	</div>
	<button class='call-main' title="call-main">
		<div class='call-open'>
			{{Icon iconName="call-1"}}
			{{Icon iconName="call-2"}}
			{{Icon iconName="call-3"}}
			{{Icon iconName="call-4"}}
			{{Icon iconName="call-5"}}
			{{Icon iconName="call-6"}}
			
		</div>
		<div class='call-close'>
			{{Icon iconName="call-close"}}
		</div>
	</button>
</div>