<div class="about" id="about">
    <div class="wrapper">
        <div class="about__content">
            <section class="about__info">
                <h2 class="title about__title">Кто мы?</h2>
                <p class="about__desc">
                    <span class="bold">SyncUp</span> - команда профессионалов в области разработки цифровых решений для бизнеса.
                </p>
                <p class="about__desc">
                    Мы специализируемся на создании сайтов и приложений, которые помогают компаниям эффективно управлять своим бизнесом и привлекать новых клиентов.
                </p>
                <p class="about__desc">
                    Наша цель - помочь нашим клиентам достичь успеха в цифровой сфере, предоставляя им прогрессивные решения.
                </p>
                <a href="#!" class="about__link">Подробнее о SyncUp</a>
            </section>
            <div class="about__img">
                <img src="/static/img/content/noutbook.png" alt="mockup">
            </div>

        </div>
    </div>
</div>
