<div class="about" id="about">
    <div class="wrapper">
        <div class="about__content">
            <section class="about__info">
                <h2 class="title wow animate__animated animate__fadeInUp"  >Кто мы?</h2>
                <p class="about__desc text wow animate__animated animate__fadeInUp" >
                    <span class="bold">SyncUp</span> - команда профессионалов в области разработки цифровых решений для бизнеса.
                </p>
                <p class="about__desc text wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                    Мы специализируемся на создании сайтов и приложений, которые помогают компаниям эффективно управлять своим бизнесом и привлекать новых клиентов.
                </p>
                <p class="about__desc text wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                    Наша цель - помочь нашим клиентам достичь успеха в цифровой сфере, предоставляя им прогрессивные решения.
                </p>
                <a href="#!" class="about__link wow animate__animated animate__fadeInUp js-scroll" data-wow-delay="0.6s">Подробнее о SyncUp</a>
            </section>
            <div class="about__img-container animate__animated animate__fadeInUp" data-wow-delay="0.8s">
                <img src="static/img/content/notebook.webp" alt="notebook" class="about__img">
            </div>

        </div>
    </div>
</div>
