<header class="header">
    <div class="wrapper">
        <div class="header__content">
            <a href="#!" class="logo-link">
                <img src="/static/img/general/logo.svg" alt="logo" class="logo-img">
            </a>

            <nav class="header-menu menu">
                <ul class="header-menu__list menu__list ">
                    <a href="#demo" class="header-menu__list__link menu__list-link">
                        <li class="header-menu__list__item menu__list-item">
                            Демо                         
                        </li>
                    </a>
                    <a href="#price" class="header-menu__list__link menu__list-link">
                        <li class="header-menu__list__item menu__list-item">
                            Цены
                        </li>
                    </a>
                    <a href="#about" class="header-menu__list__link menu__list-link">
                        <li class="header-menu__list__item menu__list-item" >
                            О нас
                        </li>
                    </a>
                </ul>
            </nav>

            <button class="button header__connect-button">
                Подключить
            </button>
        </div>
    </div>
</header>
