<header class="header">
    <div class="wrapper header__container">
        <div class="header__content">
            <a href="#" class="logo header-logo">
                <img src="static/img/general/logo.svg" alt="logo" class="logo-img header-logo-img">
            </a>

            <nav class="header-menu menu">
                <ul class="header-menu__list menu__list ">
                    <li class="header-menu__list__item menu__list-item">
                        <a href="#demo" class="header-menu__list__link menu__list-link js-scroll">
                            Демо                         
                        </a>
                    </li>
                    <li class="header-menu__list__item menu__list-item">
                        <a href="#prices" class="header-menu__list__link menu__list-link js-scroll">
                            Цены
                        </a>
                    </li> 
                    <li class="header-menu__list__item menu__list-item" >
                        <a href="#about" class="header-menu__list__link menu__list-link js-scroll" >
                            О нас
                        </a>
                    </li>

                    
                    <ul class="menu__list social-menu__list header-menu__list__item">
                        <a href='https://www.instagram.com/syncup.web/' target='_blank' class="social-menu__list__link menu__list-link " >
                             {{Icon iconName="instagram" className="social-menu__list__item menu__list-item"}}
                        </a>
                        <a href='https://wa.me/+77755690447' target='_blank' class="social-menu__list__link menu__list-link ">
                            {{Icon iconName="whatsapp" className="social-menu__list__item menu__list-item"}}
                        </a>
                        <a href='mailto:syncupweb@gmail.com' class="social-menu__list__link menu__list-link ">
                            {{Icon iconName="mail" className="social-menu__list__item menu__list-item"}}
                        </a>
                        <a href='https://t.me/syncupweb' target='_blank' class="social-menu__list__link menu__list-link ">
                            {{Icon iconName="telegram" className="social-menu__list__item menu__list-item"}}
                        </a>
                    </ul>
                    <!-- <li class="overlay header-menu__list__item">

                    </li> -->
                </ul>
                
                <div class="header-burger burger">
                   {{Icon iconName="menu-open"}}
                   {{Icon iconName="menu-close"}}
                </div>
            </nav>
            
            <a href="#consultation" class="button header__connect-button">
                Подключить
            </a>
        </div>
    </div>
    
</header>
