<div class="prices" id="prices">
    <div class="wrapper">
        <section class="prices__content">
            <div class="prices__titles">
                <h5 class="prices__subtitle">Цены</h5>
                <h2 class="title prices__title">Без компромисса в качестве!</h2>
                <h5 class="prices__subtitle">Наши цены не только укладываются в ваш бюджет, но и не идут в ущерб качеству.</h5>
            </div>
            <div class="prices-tabs__header">
                <div class="prices-tabs__container-title">
                    {{Icon iconName="check-square" className="prices-tabs__title-ico"}}
                    <h4 class="prices-tabs__title">На месяц</h4>
                </div>
                <div class="prices-tabs__container-title">
                    {{Icon iconName="row" className="prices-tabs__title-ico"}}
                    <h4 class="prices-tabs__title">На год</h4>
                </div>
            </div>
           
            <div class="prices-tabs__main">
                <div class="prices-tabs__plan">
                    
                    <div class="prices-tabs__plan__titles">
                        {{Icon iconName="rating" className="prices-tabs__plan-ico"}}
                        <h4 class="prices-tabs__plan__subtitle">На месяц</h4>
                        <h3 class="prices-tabs__plan__title">Основной</h3>
                    </div>
                    <p class="prices-tabs__plan__desc">
                        Ознакомьтесь с нашим месячным планом, который содержит в себе ряд следующих преимуществ:
                    </p>
                    <h3 class="prices-tabs__plan__rate">
                        10 000 ₸ <span class="prices-tabs__plan__rate_small">/ в месяц</span>
                        </span>
                    </h3>
                    <button class="prices-tabs__plan__button">
                        Подключить
                    </button>
                </div>
                <div class="prices-tabs__benefits">
                    <h4 class="prices-tabs__benefits__title">
                        Что я получаю?
                    </h4>
                    <ul class="prices-tabs__benefits__list">
                        <li class="prices-tabs__benefits__list__item">
                            {{Icon iconName="check-fill" className="prices-tabs__benefits__list__ico"}} Подробный состав блюд
                        </li>
                        <li class="prices-tabs__benefits__list__item">
                            {{Icon iconName="check-fill" className="prices-tabs__benefits__list__ico"}} Собственная база изображений
                        </li>
                        <li class="prices-tabs__benefits__list__item">
                            {{Icon iconName="check-fill" className="prices-tabs__benefits__list__ico"}} Редактирование меню
                        </li>
                        <li class="prices-tabs__benefits__list__item">
                            {{Icon iconName="check-fill" className="prices-tabs__benefits__list__ico"}} Размещение на хостинге
                        </li>
                        

                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>