<div class="consultation" id="consultation">
    
    <div class="wrapper">
        <div class="blur-circle consultation-blur-circle"></div>
        <div class="consultation__content">
            <section class="consultation__info">
                <h2 class="title consultation__title  wow animate__animated animate__fadeInLeft" data-wow-duration="1s">
                    Консультация со специалистом
                </h2>
                <p class="consultation__desc text  wow animate__animated animate__fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                    Опробуйте удобство заказа с помощью SyncQR! Оцените все преимущества, которые предлагает наше цифровое решение. Заполните форму, и нaш специалист свяжется с вами в ближайшее время!
                </p>
            </section>
           <div class="consultation__container-form">
                <form action="" class="consultation__form  wow animate__animated animate__fadeInRight" data-wow-duration="1s" data-wow-delay="1s">
                    <h3 class="consultation__form-title subtitle  wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="1.5s">
                        Начать сотрудничество
                    </h3>
                    <input name="name" type="text" placeholder="Ваше имя" class="consultation__form-input  wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s" required>
                    <input name="email" type="email" placeholder="Ваша почта" class="consultation__form-input  wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="1.9s"  required>
                    <textarea name="message" placeholder="Сообщение для нас" class=" consultation__form-textarea  wow animate__animated animate__fadeInUp" data-wow-duration="1s" data-wow-delay="2.1s" required></textarea>
                    <button class="consultation__form-button  wow animate__animated animate__fadeInUp"  data-wow-duration="1s" data-wow-delay="2.3s">
                        Отправить
                    </button>
                </form>
           </div>
           

        </div>
    </div>
</div>
