<div class="consultation" id="consultation">
    <div class="wrapper">
        <div class="consultation__content">
            <section class="consultation__info">
                <h2 class="title consultation__title">
                    Консультация со специалистом
                </h2>
                <p class="consultation__desc text">
                    Опробуйте удобство заказа с помощью SyncQR! Оцените все преимущества, которые предлагает наше цифровое решение. Заполните форму, и нaш специалист свяжется с вами в ближайшее время!
                </p>
            </section>
           <div class="consultation__container-form">
                <form action="" class="consultation__form">
                    <h3 class="consultation__form-title subtitle">
                        Начать сотрудничество
                    </h3>
                    <input name="name" type="text" placeholder="Ваше имя" class="consultation__form-input" required>
                    <input name="email" type="email" placeholder="Ваша почта" class="consultation__form-input"  required>
                    <textarea name="message" placeholder="Сообщение для нас" class=" consultation__form-textarea" required></textarea>
                    <button class="consultation__form-button">
                        Отправить
                    </button>
                </form>
           </div>
           

        </div>
    </div>
</div>
