<div class="demo" id="demo">
    <div class="wrapper">
        <div class="demo__content">
            <section class="demo__info">
                <div class="demo__info__titles">
                    
                    <h3 class="subtitle demo__subtitle wow animate__fadeInUp animate__animated" >
                        ДЕМОНСТРАЦИЯ
                    </h3>
                    <h2 class="title demo__title wow animate__fadeInUp animate__animated"  data-wow-delay="0.2s">
                        Удобство заказа на вашем экране!
                    </h2>
                    <p class="demo__desc text wow animate__fadeInUp animate__animated"  data-wow-delay="0.4s">
                        Опробуйте выбор блюд и напитков прямо сейчас вместе с SyncQR
                    </p>
                </div>

                
                <div class="demo__info__buttons">
                    <button class="demo__button_demo demo__button  wow animate__fadeInUp animate__animated"  data-wow-delay="0.6s">
                        Демо
                    </button>
                    <a  href="#consultation" class="demo__button_connect demo__button  wow animate__fadeInUp animate__animated"  data-wow-delay="0.6s">
                        Подключить
                    </a>
                </div>
            </section>
            <div class="demo__img-container animate__fadeInUp wow animate__animated "  data-wow-delay="0.6s">
                <img src="/static/img/content/phone.webp" alt="mockup" class="demo__img">
            </div>

        </div>
    </div>
</div>
