<div class="demo" id="demo">
    <div class="wrapper">
        <div class="demo__content">
            <section class="demo__info">
                <div class="demo__info__titles">
                    
                    <h3 class="subtitle demo__subtitle">
                        ДЕМОНСТРАЦИЯ
                    </h3>
                    <h2 class="title demo__title">
                        Удобство заказа на вашем экране!
                    </h2>
                    <p class="demo__desc">
                        Опробуйте выбор блюд и напитков прямо сейчас вместе с SyncQR
                    </p>
                </div>

                
                <div class="demo__info__buttons">
                    <button class="demo__button_demo demo__button">
                        Демо
                    </button>
                    <button class="demo__button_connect demo__button">
                        Подключить
                    </button>
                </div>
            </section>
            <div class="demo__img">
                <img src="/static/img/content/phone.png" alt="mockup">
            </div>

        </div>
    </div>
</div>
