<div class="questions">
    <div class="blur-circle questions-blur-circle"></div>
    <div class="wrapper">
        <section class="questions__content">
            <h2 class="title questions__title wow animate__animated animate__fadeInUp" >Q&<span class="primary">A</span></h2>
            <div class="questions__cards">
                <div class="questions__card  wow animate__animated animate__fadeInUp">
                    
                    <div class="questions__card-header" data-accordion="accordion-1">
                        <h5 class="questions__card-title text">
                            У меня нет фото блюд. Что делать?
                        </h5>
                        {{Icon iconName="plus" className="questions__card-ico"}}
                    </div>
                    <div class="questions__card-answer small-text" id="accordion-1">
                        Если в вашем распоряжении нет фотографий ваших блюд мы с радостью предоставим вам доступ к нашему разнообразному набору фотографий распространенных блюд. Эти качественные изображения могут быть использованы в вашем меню, чтобы привлечь внимание гостей. Можете воспользоваться этим набором фотографий, чтобы визуально предоставить вашим клиентам все превосходство и разнообразие, которое предлагает наше меню.
                     </div>
                </div>
                <div class="questions__card  wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">
                    
                     <div class="questions__card-header"  data-accordion="accordion-2">
                        <h5 class="questions__card-title text">
                            Следует ли нам устанавливать специализированное 
                            оборудование, чтобы использовать электронное меню?
                        </h5>         
                        {{Icon iconName="plus" className="questions__card-ico"}}
                     </div>
                     <div class="questions__card-answer small-text" id="accordion-2">
                        Нет. Вместо этого вы можете создать и распечатать QR-коды для каждого стола и разместить их на соответствующих столиках. Гости могут использовать свои смартфоны для сканирования кодов и перехода к меню вашего заведения.
                     </div>
                </div>
                <div class="questions__card  wow animate__animated animate__fadeInUp" data-wow-delay="0.4s">
                   <div class="questions__card-header"  data-accordion="accordion-3">
                    <h5 class="questions__card-title text">
                        Какова польза от использования электронного меню вместо традиционного?
                    </h5>         
                        {{Icon iconName="plus" className="questions__card-ico"}}
                   </div>
                   <div class="questions__card-answer small-text" id="accordion-3">
                    <ul class="questions__list">
                        <li class="questions__list-item">
                            Вы больше не будете сталкиваться с необходимостью печатать новые версии меню при каждом изменении цен. С использованием SyncQR вы можете мгновенно и легко вносить любые изменения. Это позволит вам избежать затрат на услуги дизайнера и печать, сохраняя ваше меню всегда актуальным и аккуратным.
                        </li>
                        <li class="questions__list-item"> 
                            Больше не нужно ожидать подхода официанта — теперь вы можете легко и удобно просматривать меню ресторана с фотографиями прямо на своем смартфоне, без необходимости устанавливать какие-либо приложения.
                        </li>
                        <li class="questions__list-item">
                            С целью сокращения контактов между посетителями и официантами, многие заведения общественного питания вводят дополнительные меры предосторожности. Внедрение электронного меню позволяет значительно уменьшить количество контактов между официантами и гостями, создавая более безопасную и гигиеничную среду для всех.
                        </li>
                        

                   


                    </ul>
                 </div>
                    
                </div>
                <div class="questions__card  wow animate__animated animate__fadeInUp" data-wow-delay="0.6s">
                    <div class="questions__card-header"  data-accordion="accordion-4">
                        <h5 class="questions__card-title text">
                            Как я смогу редактировать позиции в онлайн-меню?
                        </h5>         
                            {{Icon iconName="plus" className="questions__card-ico"}}
                    </div>
                    <div class="questions__card-answer small-text" id="accordion-4">
                        Чтобы редактировать позиции в онлайн-меню, вам будет доступна специальная админ-панель. В этой панели вы сможете добавлять, удалять и изменять позиции меню по своему усмотрению. Вы сможете обновлять цены, описания, фотографии и другую информацию о блюдах или баннерах. Админ-панель обеспечит вам удобный и простой способ вносить изменения и обновлять ваше онлайн-меню в реальном времени.
                     </div>
                </div>
            </div>
        </section>
    </div>
</div>